:root {

    /* цвета */
	--bright-green: #00C65E;
	--light-grey: #f7f7f7;
	--dark-grey: #363a45;
	--standart-white: #fff;
	--medium-grey: #dadcdc;
	--medium-grey-2: #efefef;
	--light-orange: #ffb762;
	--bright-orange: #f89358;
	--light-green: #ccefdb;
	--dark-green: #1e7836;

    /* шрифты */
    --font-family: "TT Norms", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "SF Pro Text", sans-serif;
    --font3: "Gilroy", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "Noto Sans", sans-serif;
}