@import url(../variables.css);

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 70px;
    gap: 40px;
    margin-right: 214px;
}
.link{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--dark-grey);
    width: auto;
    height: auto;
    padding: 30px 25px;
}
.link:hover, .link.active{
    background-color: rgba(0, 198, 94, .3);
    border-bottom: solid var(--dark-green) 2px;
    border-radius: 5px;
}