.header__content{
    
    width: 100%;
    height: 50px;
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.25);
    background: var(--light-grey);
}
.FlexBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.search{
    width: 300px;
    margin: 0 auto;
}